<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/styles/base.css">
</head>
<body>
    <header>Final results</header>
    <div>

        <ul>
            <% book.forEach(book => { %>
            <li>
                <p><%= book.title %></p>
                <p><img src=<%= book.img_url %>></p>
                <p><%= book.authors%></p>
                <p><%= book.description%></p>
            </li>
            <% }) %>
        </ul>
    </div>
    
</body>
</html>