<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/styles/base.css">
</head>
<body>
    <header>
        <h1>hello world</h1>
        <nav>
            <li><a href="/">Home</a></li>
            <li><a href="/searches/new">search</a></li>
        </nav>  
    </header>
    <div>

        <ul>
            <% book.forEach(book => { %>
            <li>
                <form action="/books" method="POST">
                <p><%= book.title %></p>
                <p><img src=<%= book.img_url %>></p>
                <p><%= book.authors%></p>
                <p><%= book.description%></p>
                <button type="submit">Select this Book</button>
            </form>
            </li>
            <% }) %>
        </ul>
    </div>
    
</body>
</html>