<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/styles/base.css">
</head>
<body>
    <header>searches</header>

    <form action="">
    <input type="text" name="searchingtype" >
    <br>
    <label >Author
        <input type="radio" name="author">
        </label>
        <br>
<label >Title
<input type="radio" name="name">
</label>
<br>
<button>search</button>


</form>
</body>
</html>